* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f0f0f0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23dddddd' fill-opacity='0.59'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Comfortaa', sans-serif;

}
h1, h2, h3 {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    color: #333;
}
p{
    color: #333;
}
img{
    max-width: 100%;
}
.wrapper{
    max-width: 1024px;
    margin: 0 auto;
}
pre code {
    font-size: 1.2rem;
    border-radius: 5px;
}
.item {
    padding: 10px;
    border: 3px solid rgb(60, 120, 250);
    background-color: rgba(144, 196, 255, 0.5);
    border-radius: 5px;
}
.container-1 {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 200px 100px;
    grid-gap: 20px;
}
.container-2 {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: auto 100px;
    grid-gap: 20px;
}
.container-3 {
    display: grid;
    grid-template-columns: 20vw 150px auto;
    grid-template-rows: auto 100px;
    grid-gap: 20px;
}
.container-4 {
    display: grid;
    grid-template-columns: fit-content(10em) fit-content(10em) fit-content(10em);
    grid-template-rows: 100px 100px;
    grid-gap: 20px;
    margin-bottom: 1rem;
}
.container-5 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto 100px;
    grid-gap: 20px;
}
.container-6 {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: auto 100px;
    grid-gap: 20px;
}
.container-7 {
    display: grid;
    grid-template-columns:  repeat(3, minmax(100px, 1fr));
    grid-template-rows: auto 100px;
    grid-gap: 20px;
}
.container-8 {
    display: grid;
    grid-template-columns:  repeat(3, 1fr 200px);
    grid-template-rows: auto 100px;
    grid-gap: 20px;
}
.container-9 {
    display: grid;
    grid-template-columns:  repeat(3, 1fr );
    grid-template-rows: auto 100px;
    grid-gap: 20px;
}
.container-10 {
    display: grid;
    grid-template-columns:  repeat(auto-fill, 200px );
    grid-template-rows: auto 100px;
    grid-gap: 20px;
}
.container-11 {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto 100px;
    grid-gap: 20px;
}
.container-12 {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto 100px;
    grid-gap: 20px;
}
.container-13 {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto 100px;
    grid-gap: 20px;
}
.container-14 {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto 100px;
    grid-gap: 20px;
}
.container-14 .item1{
    grid-column-start: 1;
    grid-column-end: -1;
}
.container-15 {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto ;
    grid-gap: 20px;
}
.container-15 .item1{
    grid-column: 1 / 5;
}
.container-15 .item2{
    grid-column: 1 ;
    grid-row: 2;
}
.container-15 .item3{
    grid-column: 1 ;
    grid-row: 2;
}
.container-15 .item4{
    grid-column: 2 / 4 ;
    grid-row: 2;
}
.container-15 .item5{
    grid-column: 1 / -1 ;
    grid-row: 3;
}
.container-16 {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto ;
    grid-gap: 20px;
}
.container-16 .item1{
    grid-column: 1 / span 3;
    grid-row: 1;
}
.container-16 .item2{
    grid-column: 1 ;
    grid-row: 2;
}
.container-16 .item3{
    grid-column: 2 / 4 ;
    grid-row: 2;
}
.container-16 .item4{
    grid-column: 1 / -1 ;
    grid-row: 3;
}
